body {

    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background: url("../desktop-wallpaper.jpg") no-repeat;
    color: white;
}


header {
    margin-top: 1em;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;

    z-index: 99;
    padding: auto;
}


.logo {
    font-size: 2em;
    color: #fff;
    user-select: none;
}

.zoom {
    display: left;
    transition: transform .2s;
    padding: 40pt;
}

.zoom:hover {
    transform: scale(1.5);
    cursor: crosshair;
}

.navigation .a1 {
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;

}

.navigation .a1::after {
    content: '';
    right: 1px;
    position: absolute;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    bottom: -6px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .5s;
}

.navigation .a1:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.navigation .btnlogin-popup {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 50px;
}

.navigation .btnlogin-popup:hover {
    background: #fff;
    color: #162938;
}

.not-visited {
    background: white;
    cursor: progress;
    color: red;
}