            body{
                background-color: black;
                color: white;
            }

            .zoom {
                display: left;
                transition: transform .2s;
                padding: 40pt;
            }

            .zoom:hover {
                transform: scale(1.5);
                cursor:crosshair;
            }

            button{
                background:black;
                color:red;
                border:0.1em solid white;
                font-size:2em;
            }