* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background: url("../desktop-wallpaper.jpg") no-repeat;
    color: rgb(255, 255, 255);
}

header {
    margin-top: 1em;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;

    z-index: 99;
    padding: auto;
}

.logo {
    font-size: 2em;
    color: rgb(255, 255, 255);
    user-select: none;
}

.navigation .a1 {
    position: relative;
    font-size: 1.1em;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;

}

.navigation .a1::after {
    content: '';
    right: 1px;
    position: absolute;
    width: 100%;
    height: 3px;
    background: rgb(255, 255, 255);
    border-radius: 5px;
    bottom: -6px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .5s;
}

.navigation .a1:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.navigation .btnlogin-popup {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid rgb(255, 255, 255);
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: rgb(255, 255, 255);
    font-weight: 500;
    margin-left: 50px;
}

.navigation .btnlogin-popup:hover {
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.navigation .btn-teleport {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid rgb(255, 255, 255);
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: rgb(255, 255, 255);
    font-weight: 500;
    margin-left: 58.9px;
}

.navigation .btn-teleport:hover {
    background: rgb(255, 255, 255);
    color: #162938;
}

.navigation .btn-logout {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid rgb(255, 255, 255);
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: rgb(255, 255, 255);
    font-weight: 500;
    margin-left: 58px;
}

.navigation .btn-logout:hover {
    background: rgb(255, 255, 255);
    color: #162938;
}

.navigation .btn-avatar {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid rgb(255, 255, 255);
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: rgb(255, 255, 255);
    font-weight: 500;
    margin-left: 60px;
    margin-top: 7px;
}

.navigation .btn-avatar:hover {
    background: rgb(255, 255, 255);
    color: #162938;
}

.navigation .btn-register {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid rgb(255, 255, 255);
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: rgb(255, 255, 255);
    font-weight: 500;
    margin-left: 57.5px;
    margin-top: 7px;
}

.navigation .btn-register:hover {
    background: rgb(255, 255, 255);
    color: #162938;
}

.upload {
    width: 125px;
    position: relative;
    margin: auto;
}

.upload img {
    border-radius: 50%;
    border: 8px solid rgb(168, 168, 168, 0.514);
}

.upload .round {
    position: absolute;
    background: #00B4FF;
    bottom: 0;
    right: 0;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border-radius: 50%;
    overflow: hidden;
}

.upload .round input[type="file"] {
    position: absolute;
    transform: scale(3);
    opacity: 0;
}

input[type=file]::-webkit-file-upload-button {
    cursor: pointer;
}