*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

.content-box {
    background: url("../desktop-wallpaper.jpg") no-repeat;
	background-size: cover;
    height: 200vh;
    color: rgb(255, 255, 255);
}

h1 {
    text-align: center;
    padding-top: 100px;
}

h1::after {
    content: '';
    background: #d0ff00;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 50px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Poppins', sans-serif;
}

body {

    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background: url("../desktop-wallpaper.jpg") no-repeat;
    color: white;
}

header {
    margin-top: 1em;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 99;
    padding: auto;
}

.logo {
    font-size: 2em;
    color: rgb(255, 255, 255);
    user-select: none;
}

.navigation .a1 {
    position: relative;
    font-size: 1.1em;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;

}

.navigation .a1::after {
    content: '';
    right: 1px;
    position: absolute;
    width: 100%;
    height: 3px;
    background: rgb(255, 255, 255);
    border-radius: 5px;
    bottom: -6px;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .5s;
}

.navigation .a1:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.navigation .btnlogin-popup {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid rgb(255, 255, 255);
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: rgb(255, 255, 255);
    font-weight: 500;
    margin-left: 50px;
}

.navigation .btnlogin-popup:hover {
    background: rgb(255, 255, 255);
    color: #162938;
}

.not-visited{
	color: lime;
	font-weight: bold;
    cursor: progress;
    width: 100%;
}

.service .icon {
    font-size: 30px;
    margin: 20px auto;
    padding: 10px;
    height: 70px;
    width: 70px;
    border: 1px solid blue;
    border-radius: 50%;
    color: rgb(208, 255, 1);
}

.service p {
    font-size: 15px;
    margin-top: 10px;
    color: rgb(255, 255, 255);
    padding: 20px;
}

.service span {
    color: red;
    transition: .5s;
}

.service .col-md-3:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.5), #66ff00);
    cursor: pointer;
    box-shadow: -5px 5px 10px 0 rgba(0, 0, 0, 0.4);
    color: #000;
    transition: .5s;
}

.service .col-md-3:hover .icon {
    border: 1px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
}

.service .col-md-3:hover p {
    color: rgb(255, 255, 255);
}

.service .col-md-3:hover span {
    color: rgb(255, 255, 255);
}