a:visited {
    color: blueviolet;
}

a:link {
    color: blue;
}

td{
    background:lightgray;
    height:100%;
    width:100%;
}

th{
    background:lightyellow;
    height:100%;
}

input[type="text"]{
    width:100%;
    height:100%;
}

table{
    border:1pt solid black;
}

input[type=text] {
    width: 100%;
    height: 100%;
}

button {
    width: 100%;
    height: 100%;
}