*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

.content-box {
    background: #000;
    height: 200vh;
    color: #fff;
}

h1 {
    text-align: center;
    padding-top: 100px;
}

h1::after {
    content: '';
    background: #d0ff00;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 50px;
}

.service .icon {
    font-size: 30px;
    margin: 20px auto;
    padding: 10px;
    height: 70px;
    width: 70px;
    border: 1px solid blue;
    border-radius: 50%;
    color: rgb(208, 255, 1);
}

.service p {
    font-size: 15px;
    margin-top: 10px;
    color: #fff;
    padding: 20px;
}

.service span {
    color: red;
    transition: .5s;
}

.service .col-md-3:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.5), #66ff00);
    cursor: pointer;
    box-shadow: -5px 5px 10px 0 rgba(0, 0, 0, 0.4);
    color: #000;
    transition: .5s;
}

.service .col-md-3:hover .icon {
    border: 1px solid #fff;
    color: #fff;
}

.service .col-md-3:hover p {
    color: #fff;
}

.service .col-md-3:hover span {
    color: #fff;
}